@mixin heading-large__pseudo($border-color: $color-orange){
	$pseudo-border: 15px solid $border-color;
	$pseudo-width: 130px;
	$pseudo-height: 60px;

	&::before,
	&::after{
		content: '';
		position: absolute;
		left: 50%;
		z-index: 2;
		display: block;
		width: $pseudo-width;
		height: $pseudo-height;
		margin-left: -$pseudo-width/2;
		
		border: {
			left: $pseudo-border;
			right: $pseudo-border;
		}

		box-sizing: border-box;
	}
	&::before{
		top: -$pseudo-height;
		border-top: $pseudo-border;
	}
	&::after{
		bottom: -$pseudo-height;
		border-bottom: $pseudo-border;
	}
}

.heading-large{
	position: relative;
	
	margin:{
		top: 0;
		bottom: 28px;
	}
	line-height: 82px;
	font: {
		weight: 900;
		size: 70px;
		family: $raleway;
	}
	text: {
		transform: uppercase;
	}

	&__pseudo{
		@include heading-large__pseudo($color-orange);
	}
}