.news-filter-tabs{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__tab{
		height: 45px;
		line-height: 45px;
		border: 1px solid $color-orange;
		color: $color-orange;
		transition: $transition;
		cursor: pointer;
		margin: {
			top: 15px;
			bottom: 15px;
			right: 15px;
			left: 15px;
		}
		padding: {
			left: 28px;
			right: 28px;
		}
		font: {
			size: 14px;
			family: $rubik;
		}
		text:{
			align: center;
			transform: uppercase;
		}

		&:hover,
		&.active{
			background-color: $color-orange;
			color: $color-white;
		}
	}
}