@mixin text($text-color: $color-gray){
	line-height: 30px;
	color: $text-color;
	font: {
		size: 18px;
		family: $rubik;
	}

	&__lg{
		font-size: 25px;
	}

	&__light{
		font-weight: 300;
	}
}

.text{
	@include text;
}
