/* #1  done */


/* #6 - #8 */
.article .tab li .tab-content h2 {
  line-height: 24px;
  color: #313131;
}
.article .tab li .tab-content p{
  color: #5d5d5d;
  line-height: 18px;
}

/* #9 */
.article .tab li a.tab-button{
	max-width: inherit;
}
	.article .tab li a.tab-button:after{
		display: none !important;
	}

/* #14 */
.tab.tabMainMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab.tabMainMenu > ul{
  background: none #425968;
  background: -moz-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #425968), color-stop(50%, #32434f) );
  background: -webkit-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -o-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -ms-linear-gradient(top, #425968 45%, #32434f 50%);
  background: linear-gradient(to bottom, #425968 45%, #32434f 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#425968', endColorstr='#32434f', GradientType = 0);
}
.tab.tabMainMenu li.active{
  margin-top: -5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  height: 40px;
  box-shadow: 0 -3px 5px 0 #1d2c35;
  -moz-box-shadow: 0 -3px 5px 0 #1d2c35;
  -webkit-box-shadow: 0 -3px 5px 0 #1d2c35;
}
  .tab.tabMainMenu li.active > a{
    height: 18px;
    line-height: 22px;
  }
    .tab.tabMainMenu li.active > a:after{
      color: #22a3e6;
      content: ">";
      display: block;
      font-family: "icons";
      transform: rotate(90deg);
    }

/* #13 */
form[name="testdrive_request"]{}
form[name="testdrive_request"] label{
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  color: #425968;
  line-height: 18px;
}
form[name="testdrive_request"] input[type="text"]{
  padding: 0 10px 0 10px;
  height: 38px;
  margin-bottom: 10px;
  border-radius: 0;

  -webkit-appearance: none;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid #425968;
  box-shadow: none;
  color: rgba(0,0,0,0.75);
  display: block;
  font-size: 14px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
}
