/* #1  done */


/* #6 - #8 */
.article .tab li .tab-content h2,
.article h2 {
  line-height: 24px;
  color: #313131;
}
.article .tab li .tab-content p,
.article p{
  color: #5d5d5d;
  line-height: 18px;
}

/* #9 */
.article .tab li a.tab-button{
	max-width: inherit;
}
	.article .tab li a.tab-button:after{
		display: none !important;
	}

/* #10 */
@media (min-width: 1024px){}
  .cmf-block-simple.cmf-block{
    width: 70% !important;
    margin-left: 15%;
  }
}

/* #14 */
.tab.tabMainMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 990px){
	.tab.tabMainMenu{
		margin-top: 0 !important;
	}
}
.tab.tabMainMenu > ul{
  background: none #425968;
  background: -moz-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #425968), color-stop(50%, #32434f) );
  background: -webkit-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -o-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -ms-linear-gradient(top, #425968 45%, #32434f 50%);
  background: linear-gradient(to bottom, #425968 45%, #32434f 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#425968', endColorstr='#32434f', GradientType = 0);
}

@media (max-width: 1023px){
	.tabMainMenu ul>li{
		height: auto !important;
	}
	.content .tabMainMenu ul .active a.tab-button{
		padding: .75em 5% !important;
	}
}
@media (min-width: 1024px){
	.tab.tabMainMenu li.active{
		margin-top: -5px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		box-shadow: 0 -3px 5px 0 #1d2c35;
		-moz-box-shadow: 0 -3px 5px 0 #1d2c35;
		-webkit-box-shadow: 0 -3px 5px 0 #1d2c35;
		overflow: hidden;
		height: 40px;
	}
	.tab.tabMainMenu li.active > a{
	  height: 18px;
	  line-height: 22px;
	}
	.tab.tabMainMenu li.active > a:after{
	  color: #22a3e6;
	  content: ">";
	  display: block;
	  font-family: "icons";
	  transform: rotate(90deg);
	}
}

/* #13 */
/* form[name="testdrive_request"]{
  font-family: "Ford Antenna Condensed";
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1024){
  form[name="testdrive_request"]{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
form[name="testdrive_request"] label{
  display: block;
  font-size: 0.75em;
  color: #003399;
  margin-bottom: 0.625em;
}
form[name="testdrive_request"] input[type="text"],
form[name="testdrive_request"] input[type="email"],
form[name="testdrive_request"] select{
  background: #e1e1e1;
  border: solid 1px #003399;
  border-color: #e1e1e1 #e1e1e1 #e1e1e1 #003399;
  border-left-width: 2px;
  width: 100%;
  box-sizing: border-box;
  padding: 0.3125em 0.625em 0.4375em 0.625em;
  color: #313131;
  -webkit-transition: border-color 0.4s ease-in-out;
  -moz-transition: border-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out;
}
  form[name="testdrive_request"] input[type="text"]:focus,
  form[name="testdrive_request"] input[type="email"]:focus,
  form[name="testdrive_request"] select:focus{
    outline-width: 0;
    border-color: #003399;
  }

form[name="testdrive_request"] button[type="submit"]{
  background-color: #003399;
  color: white;
  width: 49%;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.9375em 0em;
  text-align: center;
  background-color: #91a4b1;
  color: white;
  cursor: pointer;
} */

/* #Contacts */
.contacts-content .bigHeading02{
  font-family: "Ford Antenna";
}
.contacts-content .content{
  color: #5d5d5d;
  line-height: 18px;
  font-family: "Ford Antenna";
}

/* #16 */
.article .tab li .tab-content li:before{
  content: 'â—';
  padding-right: 5px;
  vertical-align: top;
}

/* testdrive */
.testdrive-header > img {
	max-width: 100%;
	height: auto;
}

/* ipad #2 menu  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.tab.tabMainMenu{
		text-align: center !important;
	}
	.article .tab li .tab-content p{
		line-height: 22px;
	}
}

/* ipad #3 */
@media (max-width: 1023px){
	.welldo-wrapper .article .tab #bodytext{
		margin-top: 20px;
	}
	.welldo-wrapper .article .tab #bodytext li{
		width: 100%;
		box-sizing: border-box;
	}
	.welldo-wrapper .article .tab #bodytext li img{
		display: block !important;
		max-width: 100%;
		margin: 0 auto !important;
	}
	.welldo-wrapper .article .tab #bodytext .content{
		margin-top: 10px !important;
		margin-bottom: 10px;
	}
}

@media (max-width: 980px){
	.two-column, .three-column{
		display: flex;
		justify-content: space-between;
		float: left !important;
		margin-bottom: 20px !important;
		width: 100% !important;
	}
		.three-column .content-block{
			padding: 5px;
		}
}

@media (max-width: 767px){
	.three-column, .two-column{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.three-column .content-block{
		width: 100% !important;
	}
	.two-column .content-block{
		min-height: inherit !important;
	}
}

@media (max-width: 980px){
	.welldo-wrapper .article .tab #bodytext li a.tab-button, 
	.welldo-wrapper .article .tab #bodytext li.active a.tab-button, 
	.welldo-wrapper .article .tab #bodytext li:hover a.tab-button{
		border-radius: 0 !important;
	}
}