/* #1  done */


/* #6 - #8 */
.article .tab li .tab-content h2 {
  line-height: 24px;
  color: #313131;
}
.article .tab li .tab-content p{
  color: #5d5d5d;
  line-height: 18px;
}

/* #9 */
.article .tab li a.tab-button{
	max-width: inherit;
}
	.article .tab li a.tab-button:after{
		display: none !important;
	}

/* #14 */
.tab.tabMainMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab.tabMainMenu > ul{
  background: none #425968;
  background: -moz-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #425968), color-stop(50%, #32434f) );
  background: -webkit-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -o-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -ms-linear-gradient(top, #425968 45%, #32434f 50%);
  background: linear-gradient(to bottom, #425968 45%, #32434f 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#425968', endColorstr='#32434f', GradientType = 0);
}
.tab.tabMainMenu li.active{
  margin-top: -5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  height: 40px;
  box-shadow: 0 -3px 5px 0 #1d2c35;
  -moz-box-shadow: 0 -3px 5px 0 #1d2c35;
  -webkit-box-shadow: 0 -3px 5px 0 #1d2c35;
}
  .tab.tabMainMenu li.active > a{
    height: 18px;
    line-height: 22px;
  }
    .tab.tabMainMenu li.active > a:after{
      color: #22a3e6;
      content: ">";
      display: block;
      font-family: "icons";
      transform: rotate(90deg);
    }

/* #13 */
form[name="testdrive_request"]{
  font-family: "Ford Antenna Condensed";
  padding-top: 30px;
  padding-bottom: 30px;
}

@media(min-width: 1024){
  form[name="testdrive_request"]{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
form[name="testdrive_request"] label{
  display: block;
  font-size: 0.75em;
  color: #003399;
  margin-bottom: 0.625em;
}
form[name="testdrive_request"] input[type="text"],
form[name="testdrive_request"] input[type="email"],
form[name="testdrive_request"] select{
  background: #e1e1e1;
  border: solid 1px #003399;
  border-color: #e1e1e1 #e1e1e1 #e1e1e1 #003399;
  border-left-width: 2px;
  width: 100%;
  box-sizing: border-box;
  padding: 0.3125em 0.625em 0.4375em 0.625em;
  color: #313131;
  -webkit-transition: border-color 0.4s ease-in-out;
  -moz-transition: border-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out;
}
  form[name="testdrive_request"] input[type="text"]:focus,
  form[name="testdrive_request"] input[type="email"]:focus,
  form[name="testdrive_request"] select:focus{
    outline-width: 0;
    border-color: #003399;
  }

form[name="testdrive_request"] button[type="submit"]{
  background-color: #003399;
  color: white;
  width: 49%;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.9375em 0em;
  text-align: center;
  background-color: #91a4b1;
  color: white;
  cursor: pointer;
}

/* #Contacts */
.contacts-content .bigHeading02{
  font-family: "Ford Antenna";
}
.contacts-content .content{
  color: #5d5d5d;
  line-height: 18px;
  font-family: "Ford Antenna";
}