/* #1 */
@media(min-width: 1700px){
  body#body_11_0 .carousel ul {
    padding-left: 50%;
    margin-left: -290px;
  }
}
@media (min-width: 1024px) and (max-width: 1699px){
  body#body_11_0 .carousel ul {
    padding-left: 50%;
    margin-left: -265px;
  }
}
@media (max-width: 1023px){
  body#body_11_0 .carousel ul {
    padding-left: 50%;
    margin-left: -165px;
  }
}

/* #6 - #8 */
.article .tab li .tab-content h2,
.article h2 {
  line-height: 24px;
  color: #313131;
  font-family: "Ford Antenna";
  font-size: 18px;
  font-weight: normal;
  /* margin: 16px 0 8px; */
  margin: 0 0 8px;
}
.article .tab li .tab-content p,
.article p{
  color: #5d5d5d;
  line-height: 18px;
}

/* #9 */
.article .tab li a.tab-button{
  max-width: inherit;
}
  .article .tab li a.tab-button:after{
    display: none !important;
  }

/* #10 */
@media (max-width: 1023px){
  .cmf-block.cmf-block-simple{
    width: 100% !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 1024px){
  .cmf-block.cmf-block-simple{
    width: 70% !important;
    margin-left: 15% !important;
  }
}

/* #14 */
.tab.tabMainMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px){
  .tab.tabMainMenu ul{
    width: 100%;
  }
}
@media (max-width: 990px){
  .tab.tabMainMenu{
    margin-top: 0 !important;
  }
}
.tab.tabMainMenu > ul{
  background: none #425968;
  background: -moz-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #425968), color-stop(50%, #32434f) );
  background: -webkit-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -o-linear-gradient(top, #425968 45%, #32434f 50%);
  background: -ms-linear-gradient(top, #425968 45%, #32434f 50%);
  background: linear-gradient(to bottom, #425968 45%, #32434f 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#425968', endColorstr='#32434f', GradientType = 0);
}

@media (max-width: 1023px){
  .tabMainMenu ul>li{
    height: auto !important;
  }
  .content .tabMainMenu ul .active a.tab-button{
    padding: .75em 5% !important;
  }
}
@media (min-width: 1024px){
  .tab.tabMainMenu li.active{
    margin-top: -5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 -3px 5px 0 #1d2c35;
    -moz-box-shadow: 0 -3px 5px 0 #1d2c35;
    -webkit-box-shadow: 0 -3px 5px 0 #1d2c35;
    overflow: hidden;
    height: 40px;
  }
  .tab.tabMainMenu li.active > a{
    height: 18px;
    line-height: 22px;
  }
  .tab.tabMainMenu li.active > a:after{
    color: #22a3e6;
    content: ">";
    display: block;
    font-family: "icons";
    transform: rotate(90deg);
  }
}

/* #Contacts */
.contacts-content .bigHeading02{
  font-family: "Ford Antenna";
}
.contacts-content .content{
  color: #5d5d5d;
  line-height: 18px;
  font-family: "Ford Antenna";
}

/* #16 */
.article .tab li .tab-content li:before{
  content: 'â—';
  padding-right: 5px;
  vertical-align: top;
}

/* testdrive */
.testdrive-header > img {
  max-width: 100%;
  height: auto;
}

/* ipad #2 menu  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  .tab.tabMainMenu{
    text-align: center !important;
  }
  .article .tab li .tab-content p{
    line-height: 22px;
  }
}

/* ipad #3 */
@media (max-width: 1023px){
  .welldo-wrapper .article .tab #bodytext{
    margin-top: 20px;
  }
  .welldo-wrapper .article .tab #bodytext li{
    width: 100%;
    box-sizing: border-box;
  }
  .welldo-wrapper .article .tab #bodytext li img{
    display: block !important;
    max-width: 100%;
    margin: 0 auto !important;
  }
  .welldo-wrapper .article .tab #bodytext .content{
    margin-top: 10px !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 980px){
  .two-column, .three-column{
    display: flex;
    justify-content: space-between;
    float: left !important;
    margin-bottom: 20px !important;
    width: 100% !important;
  }
    .three-column .content-block{
      padding: 5px;
    }
}

@media (max-width: 767px){
  .three-column, .two-column{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .three-column .content-block{
    width: 100% !important;
  }
  .two-column .content-block{
    min-height: inherit !important;
  }
}

@media (max-width: 980px){
  .welldo-wrapper .article .tab #bodytext li a.tab-button, 
  .welldo-wrapper .article .tab #bodytext li.active a.tab-button, 
  .welldo-wrapper .article .tab #bodytext li:hover a.tab-button{
    border-radius: 0 !important;
  }
}

@media (max-width: 991px){
  .content-column .content{
    border: 0 !important;
  }
  .content-column.right{
    display: flex;
    flex-direction: column;
  }
  .content-column.right .img-column{
    order: 2;
  }
  .content-column.right .content{
    order: 1;
  }
}

/* form style */
@media(max-width: 1023px){
  .test-drive .step .step-content{
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media(min-width: 1024px){
  .test-drive .step .step-content{
    padding: 0 !important;
  }
}
.user-request .form{
  padding: 0 !important;
}
.user-request input[type=text],
.user-request input[type=email],
.user-request select,
.user-request textarea{
  background: #e1e1e1;
  border: solid 1px #003399;
  border-color: #e1e1e1 #e1e1e1 #e1e1e1 #003399;
  border-left-width: 2px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  color: #313131;
  -webkit-transition: border-color 0.4s ease-in-out;
  -moz-transition: border-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out;
} 
  .user-request textarea{
    min-height: 100px;
    resize: none;
  }
  .user-request input[type=text]:focus,
  .user-request input[type=email]:focus,
  .user-request select:focus,
  .user-request textarea:focus{
    outline-width: 0;
    border-color: #003399;
  }
.user-request label{
  display: block;
  font-size: 12px;
  color: #003399;
  margin-bottom: 0.625em;
}
.user-request button[type="submit"]{
  border: 0;
  padding: 15px 35px !important;
  font-size: 16px !important;
}

@media(min-width: 480px){
  .form-row-user_request_user_contact_firstName,
  .form-row-user_request_user_contact_lastName,
  .form-row-user_request_user_contact_phone,
  .form-row-user_request_user_contact_email{
    width: 50%;
  }  
}
@media(max-width: 479px){
  .form-row-user_request_user_contact_firstName,
  .form-row-user_request_user_contact_lastName,
  .form-row-user_request_user_contact_phone,
  .form-row-user_request_user_contact_email{
    width: 100%;
    padding: 0 !important;
  }  
}
.form-row-user_request_user_contact_firstName,
.form-row-user_request_user_contact_lastName,
.form-row-user_request_user_contact_phone,
.form-row-user_request_user_contact_email{
  padding: 1.25em 1.25em 0em 0em;
  box-sizing: border-box;
  float: left;
}

.two-column .content-block{
  margin-bottom: 0 !important;
  min-height: inherit !important;
}