.section-welcome{
	background:{
		image: url(#{$images-path}test-bg.jpg);
		repeat: no-repeat;
		attachment: fixed;
		position: 50%;
		size: cover; 	
	} 
	min-height: 100vh;

	display: flex;
	flex-direction: row;
	align-items: center;

	.heading-large{
		color: $color-orange;
	}
}

.section-services{
	.heading-large{
		text-align: center;
		margin:{
			top: 175px;
			bottom: 130px;
		}
	}
	.col-md-4{
		height: $service-item-height;
		margin-bottom: 30px;
	}
}