@import "common/normalize.scss";
@import "common/variables.scss";
@import "common/font-family.scss";
@import "common/grid.scss";
@import "common/theme.scss";

@import "extends/clearfix.scss";

@import "components/heading-large.scss";
@import "components/text.scss";
@import "components/service-item.scss";
@import "components/adv-price.scss";
@import "components/portfolio-item.scss";
@import "components/business-item.scss";
@import "components/news-filter-tabs.scss";
@import "components/news-item.scss";

@import "pages/mainpage.scss";