/* Colors */
$color-white: #ffffff; 
$color-black: #000000;
$color-gray: #5b5b5b;
$color-orange: #ff6000;

/* FontFamily */ 
$rubik: 'Rubik';
$raleway: 'Raleway';

/* Path */
$images-path: "/images/";

/* Etc */
$transition: all .23s ease-in-out;
$boxShadow: 0 0 30px 0 rgba($color-black, .2);

$button-big-radius: 35px;
$circle: 50%; 

/* Mainpage */ 
$service-item-height: 370px;
$portfolio-item-height: 390px;

